<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="base flex justify-center items-center ">
        <div class="">
            <button data-key="65" class="key btn btn-blue rounded-lg px-5 py-5 bg-orange-500 mx-5">
                A
            </button>
            <button data-key="66" class="key btn btn-blue rounded-lg px-5 py-5 bg-orange-500 mx-5">
                B
            </button>
            <button data-key="67" class="key btn btn-blue rounded-lg px-5 py-5 bg-orange-500 mx-5">
                C
            </button>
            <button data-key="68" class="key btn btn-blue rounded-lg px-5 py-5 bg-orange-500 mx-5">
                D
            </button>
        </div>
    </section>
    <audio data-key="65" src="../img//1 Second ! Notification ! Sms.mp3"></audio>
    <audio data-key="66" src="../img/Message Tone.mp3"></audio>
    <audio data-key="67" src="../img/Short Sms.mp3"></audio>
    <audio data-key="68" src="../img/1 Second Tone.mp3"></audio>

</body>
<script src="../Js/index.js"></script>

</html>